@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 1in;
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

h1#masthead {
  font-size: 48pt;
}

div.metadata h1.title {
  font-size: 36pt;
}

div.metadata h2.meta {
  font-size: 32pt;
}


div.body h1 {
  font-size: 24pt;
}

div.body h2 {
  font-size: 18pt;
}

ol.toc {
  width: 10%;
  float: right;
}

div.main {
  width: 80%;
}

td.left {
  width: 50%;
  text-align: left;
}
td.right {
  width: 50%;
  text-align: right;
}
