<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1><a href="/">No Zoning</a></h1>
    <div class="articles">
      <div class="article">
        <h1><a href="/article/<%= u(article.slug) %>"><%= h(article.title) %></a></h1>
        <h2 class="date"><%= h(Timex.format!(article.date, "{ISO:Extended}")) %></h2>
        <div class="contents">
          <%= article.contents %>
        </div>
      </div>
    </div>
    <script src="/static/require.js" data-main="/static/"></script>
    <script src="/static/dates.js"></script>
  </body>
</html>
