<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <table width="100%">
      <tr>
        <td class="left"><a href="/page/<%= u("#{max(n-1, 0)}") %>">Page <%= max(n-1, 0) %></a></td>
        <td class="right"><a href="/page/<%= u("#{min(n+1, m)}") %>">Page <%= min(n+1, m) %></a></td>
      </tr>
    </table>
    <h1><a href="/">No Zoning</a></h1>
    <div class="articles">
      <%= for article <- articles do %>
        <div class="article">
          <h1><a href="/article/<%= u(article.slug) %>"><%= h(article.title) %></a></h1>
          <h2 class="date"><%= h(Timex.format!(article.date, "{ISO:Extended}")) %></h2>
          <div class="contents">
            <%= article.contents %>
          </div>
        </div>
      <% end %>
    </div>
    <script src="/static/require.js" data-main="/static/"></script>
    <script src="/static/dates.js"></script>
  </body>
</html>
